<nav class="navbar navbar-light bg-light toolbar">
  <div>
    <input
      type="text"
      id="titleInput"
      placeholder="Document title"
      aria-label="Document title"
      [(ngModel)]="title"
      (ngModelChange)="onTitleInputChange(title)"
      class="removeInputStyle"
    >
    <button (click)="saveFile()" type="button" class="btn btn-light"><fa-icon icon="download"></fa-icon></button>
    <input
      type="file"
      id="uploadFile"
      name="uploadFile"
      accept=".md, .markdown, .txt"
      (change)="fileUpload($event)"
    >
    <label class="btn btn-light" for="uploadFile"><fa-icon icon="upload" class="align-self-start"></fa-icon></label>

    <label class="switch">
      <input 
        type="checkbox"
        (change)="toggleSwitch.emit()"
      >
      <span class="slider"></span>
    </label>
    <span class="d-toggle-label"> Dark mode</span>
  </div>
  <div>
    <a class="btn btn-light" href="https://github.com/arcluc/angular-markdown-editor" target="_blank"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
  </div>
</nav>